<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 04

Take a string from the user as input and check whether the string is pallindrome or not. Don't use slice operator.

In [ ]:
st=input("enter a string ")

rev=""

for i in st:
  # print(i)
  rev=i+rev
# print(rev)

if rev==st:
  print('the string is pallindrome')
else:
  print('the string is not pallindrome')

enter a string level
the string is pallindrome

Take a string from the user as input and remove the dublicates characters(e.g: programming -> progamin)

In [ ]:
st=input('enter a string ')
res=""
for i in st:
  if i not in res:
    res=res+i
print(res)

enter a string programming
progamin

Take a string from the user as input and count how many times each character appear in a string.

In [ ]:
st=input('enter a string ')
res=""


for i in st:
  if i not in res:
    res=res+i
# print(res)

for i in res:
  print(f"{i} appears {st.count(i)}")

enter a string programming
p appears 1
r appears 2
o appears 1
g appears 2
a appears 1
m appears 2
i appears 1
n appears 1

Take a string from the user (e.g: 1234#programming 4) and print the first repeated alphabet.

In [2]:
st="1234#pr3ogramming 4"

new=""

for i in st:
  if i.isalpha():
    new=new+i
# print(new)


for i in new:
  if new.count(i)>1:
    print("The first repeated alphabet is: ",i)
    break

The first repeated alphabet is:  r

Take a string from the user as input (e.g: Candle) then print the series like:

c

ca ca

can can can

cand cand cand cand

candl candl candl candl candl

candle candle candle candle candle candle

In [ ]:
st="candle"
res=""

for i in range(len(st)):
  res=res+st[i]
  print((res+" ")*(i+1))

c
ca ca
can can can
cand cand cand cand
candl candl candl candl candl
candle candle candle candle candle candle

List Comprehension if/else

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]

# List comprehension with if/else
# For each number x in l1 → check if it is even or odd
# If even → store "even", otherwise store "odd"
new = ['even' if x % 2 == 0 else 'odd' for x in l1]

# Same logic but directly using range(1,11) instead of predefined list
# This generates numbers from 1 to 10 and labels them "even"/"odd"
new = ['even' if x % 2 == 0 else 'odd' for x in range(1, 11)]

print(new)   # Final list will be: ['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

nested list

In [3]:
list1 = [[11, 22], [23, 34, 23], [45, 23, 23], [34]]   # A nested list (list of lists)

# Outer loop → goes through each sublist in list1
for i in list1:
    # Inner loop → goes through each element inside the current sublist
    for j in i:
        print(j)   # Print each element individually

11
22
23
34
23
45
23
23
34

2D List

In [5]:
new = [
    [3, 4, 5],      # Row 0
    [8, 34, 3],     # Row 1
    [3, 4, 3]       # Row 2
]

print(new)         # Prints the entire 2D list
print(new[2])      # Prints the 3rd row → [3, 4, 3]
print(new[2][2])   # Prints element at row 2, column 2 → 3
print(new[1][2])   # Prints element at row 1, column 2 → 3

print('....................')
# Nested loop to print each element
for row in new:
    for value in row:
        print(value)

print(len(new))    # Number of rows → 3

[[3, 4, 5], [8, 34, 3], [3, 4, 3]]
[3, 4, 3]
3
3
....................
3
4
5
8
34
3
3
4
3
3

In [8]:
# Updating a value in the 2D list

new = [
    [17, 34, 50],      # Row 0
    [8, 4, 3],         # Row 1
    [3, 40, 31]        # Row 2
]
new[2][0] = "H"      # Changes element at row 2, column 0 from 3 → "H"
print(new)           # [[3, 4, 5], [8, 34, 3], ['H', 4, 3]]

[[17, 34, 50], [8, 4, 3], ['H', 40, 31]]

In [12]:
new = [
    [[51, 22],
     [45, 43]],   # Matrix 0


    [[243, 45],
     [34, 24]]   # Matrix 1
]

print(new)          # Prints the whole 3D list
print(len(new))     # Number of matrices → 2

print('......................')

print(new[1][0][1])   # Access element:
  # new[1]   → 2nd matrix → [[243, 45], [34, 24]]
  # new[1][0] → 1st row of 2nd matrix → [243, 45]
  # new[1][0][1] → 2nd element of that row → 45

# Nested loops to print all values
for mat in new:            # Iterates over each matrix
    for row in mat:        # Iterates over each row in the matrix
        for value in row:  # Iterates over each element in the row
            print(value, end=',')  # Print elements separated by commas

[[[51, 22], [45, 43]], [[243, 45], [34, 24]]]
2
......................
45
51,22,45,43,243,45,34,24,