<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#input from the user

In [104]:
age=input("Enter your age: ")
new=int(age)   #by default input return string so we convert it into integer
print("You will be", new+1,"in next year")

Enter your age: 20
You will be 21 in next year

In [74]:
# take inputs from the user
num1=int(input("enter a number "))
num2=int(input("enter a number "))
# calculate the sum
sum=num1+num2
# display the result
print("Sum of",num1, "and", num2, "is", sum)
#formatted string
print(f"Sum of {num1} and {num2} is {sum}.")

enter a number 12
enter a number 12
Sum of 12 and 12 is 24
Sum of 12 and 12 is 24.

Write a Python program that calculates the total cost of a shopping item using formatted strings.
Prompt the user to enter the name of the item, its price (as a float), and the quantity (as an integer).
Calculate the total cost by multiplying the price with the quantity.
Use a formatted string (f-string) to display the following output:


You bought 4 Notebooks at Rs. 120.5 each.

Your total bill is: Rs. 482.0

In [80]:
#declare varaibles and take inputs from the user

item_name=input("enter the name of the item: ")
price=float(input("enter the price of the item: "))
quantity=int(input("enter the quantity of the item: "))

#finding cost

cost=price*quantity

#print the result
print(f"You bought {quantity} {item_name} at Rs.{price} each.")
print(f"Your total bill is Rs.{cost}")

#print with formatted string
# print(f"You bought {quantity} {item_name} at Rs.{price} each.\nYour total bill is Rs.{cost}")

enter the name of the item: b
enter the price of the item: 2
enter the quantity of the item: 2
You bought 2 b at Rs.2.0 each.
Your total bill is Rs.4.0
You bought 2 b at Rs.2.0 each.
Your total bill is Rs.4.0

#arithmetic operators

In [79]:
#arithmetic operators
a=9
b=3
print(a+b)  #addition
print(a-b)  #subtraction
print(a*b)  #multiplication
print(a/b)  #division
print(a//b)  #floor division
print(a%b)  #modulus
print(a**b)  #power

#  +-  operators  a,b operands

12
6
27
3.0
3
0
729

#comparison operators

In [84]:
#comparison operators

print(5==6)       #False (is equal to)
print(5<6)        #True (less then)
print(12>90)      #False (greater then)
print(5<=2)       #False (less then equal to)
print(78>=109)    #False (greater then equal to)
print(5!=5)       #False  (not equal to)
print(1==True)    #True   (is equal to)
print(1=="a")     #False  bcz int and string are not comparable.
print("True"==True)#False  bcz boolean and string are not comparable.

False
True
False
False
False
False
True
False
False

#logical operators

In [85]:
#logical operators

print(25<6 and 18<9)         #if all conditions are True then return True
print(123<89 or 78<10)       #if any one condition is True then return True
print(not(True))             #not return opposite
print(not(15<9))             #not return opposite

False
False
False
True

In [49]:
num=90
print(not(num))   #bcz here num has the data, so while applying not it returns False

False

In [50]:
a=None
print(not(a))

#bcz here a has not any data, so while applying not returns False

True

#assignment operators

In [86]:
#assignment operators

a=4
a+=2  #a=a+2   add and assign
print(a)

6

In [90]:
a=4
a-=1  #a=a-1   subtract and assign
print(a)

3

In [92]:
a=9
a*=2     #a=a*2     multiply and assign
print(a)

18

In [95]:
a=20
a**=2     #a=a**2     power and assign
print(a)

400

In [96]:
a=8
a/=12     #a=a/12     divide and assign
print(a)

0.6666666666666666

In [97]:
a=19
a%=2     #a=a%2     modulus and assign
print(a)

1

In [98]:
a=9
a//=2     #a=a*2     floor divide and assign
print(a)

4

Question: Movie Night Group Discount at cinema charges Rs. 850 per ticket.

A group gets a 15% discount if:

The group has 4 or more people AND The total price is more than 3000

Write a program that: Takes number of people as input Calculates total cost Applies discount automatically using formulas Displays all details

In [103]:
# declare variables
num_ppl=int(input("enter the number of people: "))
charges=850
# calculate total price
total=charges*num_ppl
print(f"Total price is {total}")

# check whether the user is eligible for discount
is_dis=num_ppl>=4 and total>3000
# print(is_dis)  it return True or False
# Find discount
dis=total*0.15*is_dis  #is_dis may have the value 1 or 0
print(f"Discount is {dis}")
new_price=total-dis
print(f"Total Price after discount is: {new_price}")

enter the number of people: 4
Total price is 3400
Discount is 510.0
Total Price after discount is: 2890.0