<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

built in functions:

enumerate()

reversed()

reverse()

In [10]:
num = 90                     # Integer variable
country = "Pakistan"         # String variable
l1 = [10, 22, 43, "A,", 34, 23]   # A list containing integers and a string element

# print(enumerate(l1))       # enumerate(l1) returns an enumerate object with (index, value) pairs
new = list(enumerate(l1))    # Convert enumerate object to a list of tuples
print(new)                   # Print list of (index, value) pairs
print(type(new))             # Print type of 'new' (which is <class 'list'>)
print(type(new[0]))          # Print type of first element in 'new' (which is <class 'tuple'>)

# reversed(l1) returns a reversed iterator, converting it to list
new1 = list(reversed(l1))    # Create a new list with elements of l1 in reverse order
print(new1)                  # Print reversed list (new list, original remains same)

l1.reverse()                 # Reverse l1 in place (original list is modified)
print(l1)                    # Print l1 after in-place reversal

print(list(country))         # Convert string "Pakistan" into a list of characters

[(0, 10), (1, 22), (2, 43), (3, 'A,'), (4, 34), (5, 23)]
<class 'list'>
<class 'tuple'>
[23, 34, 'A,', 43, 22, 10]
[23, 34, 'A,', 43, 22, 10]
['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

built in functions:

append

extend

In [9]:
l1 = [5, 31, 26, 'A', 234, 34, 'B']   # List l1 with integers and strings
l2 = [12, 23]                         # Another list l2 with two integers

print(len(l1))   # Prints the number of elements in l1 → 7
print(l1)        # Prints the entire list l1

# append() adds a single element at the end of the list
l1.append(90)    # Adds integer 90 at the end
l1.append("H")   # Adds string "H" at the end
l1.append(l2)    # Adds the entire list l2 as ONE element (nested list)
print(l1)        # Prints updated l1 → now contains l2 as a single element
print(len(l1))   # Prints length of l1 → 10 (because l2 is counted as 1 element)

# extend() adds each element of another iterable (like a list) separately
l1.extend(l2)    # Adds 12 and 23 individually (not as a nested list)
print(l1)        # Prints final l1 with all elements

7
[5, 31, 26, 'A', 234, 34, 'B']
[5, 31, 26, 'A', 234, 34, 'B', 90, 'H', [12, 23]]
10
[5, 31, 26, 'A', 234, 34, 'B', 90, 'H', [12, 23], 12, 23]

built-in functions

insert()

pop()

pop(i)

remove()

clear()

copy()

In [15]:
l1 = [5, 31, 26, 'A', 234, 34, 'B', 'A']   # Initial list
l2 = [12, 23]                              # Another list

l1.insert(0, 'A')      # Inserts 'A' at index 0 (beginning of the list)
print(l1)              # ['A', 5, 31, 26, 'A', 234, 34, 'B', 'A']

l1.remove('A')         # Removes the FIRST occurrence of 'A' (from index 0)
print(l1)              # [5, 31, 26, 'A', 234, 34, 'B', 'A']

l1.pop()               # Removes the LAST element ('A')
print(l1)              # [5, 31, 26, 'A', 234, 34, 'B']

new = l1.pop(2)        # Removes element at index 2 → 26
print(l1)              # [5, 31, 'A', 234, 34, 'B']
print(new)             # 26 (the removed element is stored in 'new')

l2.clear()             # Removes all elements from l2 → l2 becomes []
print(l1.index('A', 0, 6))   # Finds index of 'A' between index 0–5 → 2
print(l1.count('A'))         # Counts how many times 'A' appears → 1
print(l2)              # [] (since l2 was cleared)

new = l1.copy()        # Creates a shallow copy of l1
new = l1               # Assigns reference → 'new' and 'l1' point to SAME list
print(l1)              # [5, 31, 'A', 234, 34, 'B']
print(new)             # [5, 31, 'A', 234, 34, 'B']

['A', 5, 31, 26, 'A', 234, 34, 'B', 'A']
[5, 31, 26, 'A', 234, 34, 'B', 'A']
[5, 31, 26, 'A', 234, 34, 'B']
[5, 31, 'A', 234, 34, 'B']
26
2
1
[]
[5, 31, 'A', 234, 34, 'B']
[5, 31, 'A', 234, 34, 'B']

zip()

In [19]:
# zip() pairs elements from multiple iterables (like lists) into list.

print(list(zip([1, 12, 89], [30, 14])))

# → [(1, 30), (12, 14)]
# Explanation:
#   First pair: 1 with 30
#   Second pair: 12 with 14
#   89 has no partner (since the 2nd list ended), so it is ignored.

l1 = ["a", "d", 2, 3, 71]      # List with strings and integers
l2 = [2, 3, 3, 4, 3, 78]       # Longer list

new = list(zip(l1, l2))        # Pairs elements index by index
print(len(new))               # 5 → because l1 has 5 elements (shortest list)

print(new)
print(new[3])

[(1, 30), (12, 14)]
5
[('a', 2), ('d', 3), (2, 3), (3, 4), (71, 3)]
(3, 4)

nested list

In [21]:
for i in range(4):                                # Outer loop → i goes from 0 to 3
    print(f"this is the value of i {i}")          # Prints current value of i

    for j in range(4):                            # Inner loop → j goes from 0 to 3
        print(f"this is the value of j {j}")      # Prints current value of j

this is the value of i 0
this is the value of j 0
this is the value of j 1
this is the value of j 2
this is the value of j 3
this is the value of i 1
this is the value of j 0
this is the value of j 1
this is the value of j 2
this is the value of j 3
this is the value of i 2
this is the value of j 0
this is the value of j 1
this is the value of j 2
this is the value of j 3
this is the value of i 3
this is the value of j 0
this is the value of j 1
this is the value of j 2
this is the value of j 3

Print the pattern:

A rectangle of stars

use the concept of nested list

In [20]:
for i in range(5):               # Outer loop → runs 5 times (rows)
    for j in range(5):           # Inner loop → runs 5 times for each row (columns)
        print('*', end="")       # Prints '*' without moving to the next line
    print()                      # Moves to the next line after one row is finished

*****
*****
*****
*****
*****

List Comprehension

In [22]:
l1 = []                        # Start with an empty list

for i in range(11):            # Loop from 0 to 10 (since range(11) gives 0–10)
    if i % 2 == 0:             # Check if i is divisible by 2 (even number)
        l1.append(i)           # If even, add it to the list

print(l1)                      # Print the final list

[0, 2, 4, 6, 8, 10]

In [23]:
# We can create a new list by using the concept of list comprehension
list1 = [x for x in range(5)]
print(list1)   # [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [24]:
l1 = []                  # Start with an empty list

for i in range(5):       # Loop through numbers 0, 1, 2, 3, 4
    l1.append(i**2)      # Square each number (i**2) and add to list

print(l1)                # Print the final list

[0, 1, 4, 9, 16]

In [ ]:
list1=[y**2 for y in range(5)]
print(list1)

[0, 1, 4, 9, 16]


Generate a list of Boolean values using list comprehension to check if numbers from 0 to 10 are even.

In [ ]:
list1=[x%2==0 for x in range(11)]
print(list1)

[True, False, True, False, True, False, True, False, True, False, True]

generate a list of even numbers by using the concept of list comprehension

In [ ]:
list1=[x for x in range(0,11,2)]
print(list1)

[0, 2, 4, 6, 8, 10]

Write a Python program using list comprehension to generate a list by dividing each even number from 0 to 10 by 2 (using integer division //). Finally, display the resulting list.

In [26]:
list1=[x//2 for x in range(0,11) if x%2==0]
print(list1)

[0, 1, 2, 3, 4, 5]