<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bitwise Operators

AND

In [8]:
# Example: Working with bitwise operators in Python

# Print decimal number 192 and its binary representation
print(192, bin(192))     # Output: 192 0b11000000

# Assigning values to a and b for bitwise operations
a, b = 1, 3

# Let's apply Bitwise AND (&)
# -------------------------------------------------
# Bitwise AND compares each bit of two numbers.
# Rule:
#   1 & 1 → 1
#   1 & 0 → 0
#   0 & 1 → 0
#   0 & 0 → 0
#
# Step 1: Write binary of both numbers
#   a = 1 → binary = 01  (in 2-bit form → 0b01)
#   b = 3 → binary = 11  (in 2-bit form → 0b11)
#
# Step 2: Compare each bit position:
#       a = 0 1
#       b = 1 1
#   ----------------
#   AND = 0 1   → which is binary for decimal 1
#
# So, 1 & 3 = 1
print(a & b)   # Output: 1

192 0b11000000
1

OR

In [9]:
a, b = 1, 3

# Let's apply Bitwise OR (|)
# -------------------------------------------------
# Bitwise OR compares each bit of two numbers.
# Rule:
#   1 | 1 → 1
#   1 | 0 → 1
#   0 | 1 → 1
#   0 | 0 → 0
#
# Step 1: Write binary of both numbers
#   a = 1 → binary = 01  (2-bit form → 0b01)
#   b = 3 → binary = 11  (2-bit form → 0b11)
#
# Step 2: Compare each bit position:
#       a = 0 1
#       b = 1 1
#   ----------------
#   OR  = 1 1   → which is binary for decimal 3
#
# So, 1 | 3 = 3
print(a | b)   # Output: 3

3

XOR

In [10]:
a, b = 1, 3

# Let's apply Bitwise XOR (^)
# -------------------------------------------------
# Bitwise XOR (Exclusive OR) compares each bit of two numbers.
# Rule:
#   1 ^ 1 → 0   (both same, result = 0)
#   0 ^ 0 → 0   (both same, result = 0)
#   1 ^ 0 → 1   (different, result = 1)
#   0 ^ 1 → 1   (different, result = 1)
#
# Step 1: Write binary of both numbers
#   a = 1 → binary = 01  (2-bit form → 0b01)
#   b = 3 → binary = 11  (2-bit form → 0b11)
#
# Step 2: Compare each bit position:
#       a = 0 1
#       b = 1 1
#   ----------------
#   XOR = 1 0   → which is binary for decimal 2
#
# So, 1 ^ 3 = 2
print(a ^ b)   # Output: 2

2

NOT

In [11]:
a = 1

# Let's apply Bitwise NOT (~)
# -------------------------------------------------
# Bitwise NOT flips (inverts) every bit of the number.
# Rule:
#   1 → 0
#   0 → 1
#
# But in Python, integers are stored in **signed 2’s complement form**.
# This means the NOT (~) operation will return:   ~a = -(a+1)
#
# Step 1: Binary of a = 1
#   a = 1 → binary = 0001 (in 4-bit form)
#
# Step 2: Flip all bits
#   0001  → original
#   1110  → after NOT (~)
#
# Step 3: Interpret result in 2’s complement
#   1110 = -2   (in decimal)
#
# So, ~1 = -2
print(~a)   # Output: -2

-2

left shift

In [12]:
# Reassigning new values to a and b
a, b = 10, 3

# Left Shift (a << b)
# -------------------------------------------------
# Left shift moves all bits of 'a' to the left by 'b' positions.
# Each left shift (<< 1) is equivalent to multiplying by 2.
# So, (a << b) = a * (2^b)

# Step 1: Write binary of a
#   a = 10 → binary = 1010 (in 4-bit form)

# Step 2: Shift bits of 1010 to the left by 3 positions
#   1010 << 3 → 1010000
#
# Step 3: Convert back to decimal
#   1010000 (binary) = 80 (decimal)

# Step 4: Verify mathematically
#   10 << 3 = 10 * (2^3) = 10 * 8 = 80

print(a << b)      # Output: 80

80

right shift

In [2]:
a, b = 20, 3

# Right Shift (a >> b)
# -------------------------------------------------
# Right shift moves all bits of 'a' to the right by 'b' positions.
# Each right shift (>> 1) is equivalent to dividing by 2 (floor division).
# So, (a >> b) = a // (2^b)

# Step 1: Write binary of a
#   a = 20 → binary = 10100 (in 5-bit form)

# Step 2: Shift bits of 10100 to the right by 3 positions
#   10100 >> 3 → 00010
#
# Step 3: Convert back to decimal
#   00010 (binary) = 2 (decimal)

# Step 4: Verify mathematically
#   20 >> 3 = 20 // (2^3) = 20 // 8 = 2

print(a >> b)   # Output: 2

2

#Tuple

In [3]:
a = 12, 3, 45, 34, 4   # multiple values separated by commas

print(a)               # Output: (12, 3, 45, 34, 4)
print(type(a))         # Output: <class 'tuple'>

(12, 3, 45, 34, 4)
<class 'tuple'>

access the elements

In [4]:
# Creating a tuple with multiple data types
a = (23, 435, 234, True, "apple", (34))

print(a)       # Output: (23, 435, 234, True, 'apple', 34)


# a[3] = True   ← this will be printed
print(a[3])    # Output: True

(23, 435, 234, True, 'apple', 34)
True

create an empty tuple

In [13]:
# Creating an empty tuple using parentheses
d = ()
print(d)          # Output: ()
print(type(d))    # Output: <class 'tuple'>

# Creating an empty tuple using the tuple() constructor
d = tuple()
print(d)          # Output: ()
print(type(d))    # Output: <class 'tuple'>

()
<class 'tuple'>
()
<class 'tuple'>

If I try to change an element of tuple

In [14]:
a = (23, 435, 234, True, 'apple', 34)

# Trying to change element at index 1

# a[1] = 'B'   # ERROR: 'tuple' object does not support item assignment

print(a)

(23, 435, 234, True, 'apple', 34)

In [16]:
# Convert a list into a tuple
a = [1, 2, 3, 2, 3]
print(tuple(a))       # Output: (1, 2, 3, 2, 3)

(1, 2, 3, 2, 3)

In [17]:
# Start with a tuple
a = (1, 2, 3, 2, 3, 23)

# Convert tuple into list (so we can modify it)
a = list(a)

# Modify last element (index -1)
a[-1] = 'A'

# Convert back into tuple
a = tuple(a)

print(a)              # Output: (1, 2, 3, 2, 3, 'A')

(1, 2, 3, 2, 3, 'A')

Slice operator

In [20]:
a = (1, 2, 3, 2, 3, 23)

# Slicing: a[start:end:step]

# 1) a[2:-2:]

# Start at index 2, end at index -2 (exclusive), step = default (1)
# a = (1, 2, 3, 2, 3, 23)
# So, elements at index [2, 3] = (3, 2)
print(a[2:-2:])     # Output: (3, 2)


# 2) a[-2::-1]
# Start at index -2 (second last element = 3), move backwards (step = -1)
# a = (1, 2, 3, 2, 3, 23)
# Starting from index -2 → 3, then go backward: 2, 3, 2, 1
print(a[-2::-1])    # Output: (3, 2, 3, 2, 1)

# 3) a[::-1]
# Full tuple reversed (no start, no end, step = -1)
# a = (1, 2, 3, 2, 3, 23) → (23, 3, 2, 3, 2, 1)
print(a[::-1])      # Output: (23, 3, 2, 3, 2, 1)

(3, 2)
(3, 2, 3, 2, 1)
(23, 3, 2, 3, 2, 1)