<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

add multiline comment

In [27]:
print("Hamza")
# print("Ahmad")
# print("Book")
# you can select the text and press ctrl + ? from the keyboard

Hamza

declare variables

In [28]:
sentence="I am Hamza. I am learning Python and Python is very easy"
print(sentence)
print(sentence)
#we declare variables to avoid repition and make our code more reusable, readable and clean

I am Hamza. I am learning Python and Python is very easy
I am Hamza. I am learning Python and Python is very easy

In [29]:
# my name="Hamza"    it give error
# 12name="Ali"       it give error
# name_$="Ahmad"     it give error
# print="Ahmad"      it give error
name_of_book1="English"
print(name_of_book1)

English

In [ ]:
#variables declared
name="Ahmad"
cgpa=3.3
#call the variables
print("Name of the user is:",name)
print("CGPA of the",name,"is:",cgpa)

Name of the user is: Ahmad
CGPA of the Ahmad is: 3.3

In [ ]:
id1="Hamza"
print(id1)
# not a good approach -> declare variable name according to the data.

Hamza

variable update

In [ ]:
fruit="apple"
print("before",fruit)
fruit="banana"
print("after",fruit,"apple")

before apple
after banana apple

data types

In [35]:
value=67   #integer
print(type(value))

new_value=0.987  #float
print(type(new_value))

new_value2=-9.786  #float
print(type(new_value2))

<class 'int'>
<class 'float'>
<class 'float'>

In [30]:
com=23+43j
print(type(com))
print(com.real)
print(com.imag)

<class 'complex'>
23.0
43.0