<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

elements of list

In [9]:
new=[34,"Hamza",89.90,78+8j,[89,89],True,None]
first=(new[1])
print(type(first))      # Prints the data type
print(first[1])         # Prints the character on the index 1
print(new[1][2])        # Prints the third character of the string at index 1 of the list ('Hamza' → 'm')
print(type(new[3]))     # Prints the data type of the element at index 3
print(type(new))        # Prints the data type of the entire variable 'new' (which is a list)

<class 'str'>
a
m
<class 'complex'>
<class 'list'>

empty list

In [10]:
a=[]               # declare an empty list
print(a)
b=list()           # declare an empty list
print(b)

[]
[]

list is mutable (changable)

In [12]:
names=["Ali","Ahmad","Zain"]
names[1]="Bilal"                 # change the element of list on index 1
print(names)

['Ali', 'Bilal', 'Zain']

In [14]:
# names=["Ali","Ahmad","Zain"]
# print(names[4])


# it will return error 'list index out of range'
# as we are calling the element out of range of list

concatenation

In [16]:
l1=[23,343,343,23,"Ali"]
l2=[78,78,"Ahmad"]
print(l1+l2)                 # Concatenates l1 and l2, returning a new combined list

[23, 343, 343, 23, 'Ali', 78, 78, 'Ahmad']

Repetition

In [20]:
l2=[78,78,"Ahmad"]
l2=l2*3                  # Repeats the list 3 times and assigns it back to l2
print(l2)

[78, 78, 'Ahmad', 78, 78, 'Ahmad', 78, 78, 'Ahmad']

Membership operator

In [21]:
print(343 in l1)
print(560 not in l1)

True
True

Slice operator

In [26]:
l1=[23,343,343,23,"Ali"]
new=(l1[2:5:2])                    # print the elements from index 2 to 4 with jump of 2
print(new)


print(l1[::-1])                   # Print all the elements in reverse order
print(l1[-4:-2])                  # print the elements from index -4 to -3
print(l1[-2:-5:-1])               # print the elements from index -2 to -4 in reverse order

[343, 'Ali']
['Ali', 23, 343, 343, 23]
[343, 343]
[23, 343, 343]

change multiple elements of list

In [35]:
l1=[23,343,343,23,"Ali"]
l1[-2:-5:-1]=["a","b","c"]

# Replace elements from index -2 to -4 (reverse slice) with ["a","b","c"]
#   -2 → "Ali"  → replaced with "a"
#   -3 → 23     → replaced with "b"
#   -4 → 343    → replaced with "c"

print(l1)

[23, 'c', 'b', 'a', 'Ali']

iteration on list

by using for loop with range

In [28]:
l1=[23,343,343,23,"Ali"]

for i in range(len(l1)):
  print(l1[i])

23
343
343
23
Ali

by using while loop

In [29]:
l1=[23,343,343,23,"Ali"]

start=0
end=len(l1)-1

while start<=end:
  print(l1[start])
  start+=1

23
343
343
23
Ali

by using for loop

In [30]:
l1=[23,343,343,23,"Ali"]
for i in l1:
  print(i)

23
343
343
23
Ali

enumerate

In [31]:
l1=[23,343,343,23,"Ali"]
for index, value in enumerate(l1):      # first variable -> index and second variable -> element of the list
  print(index, value)

0 23
1 343
2 343
3 23
4 Ali

built-in functions

In [39]:
l1=[23,34,323,34]
l2=[23,243,23,"Ahmad"]
l3=["Mango","pineapples","apple","banana","grapes","Orange","mango"]

# max
print(max(l1))                  # Returns the maximum numeric value from l1 → 323
print(max(l2))                  # error: Python cannot compare numbers with strings
print(max(l3))                  # Returns the maximum string (lexicographically, based on ASCII/Unicode)

# min
print(min(l3))                  # Returns the minimum string (lexicographically)

# sum

print(sum(l1))                  # Returns the sum of all numeric elements in l1 → 414
print(sum(l2))                  # error: l2 has both numbers and a string, so sum() will not work


# sorted
b=(sorted(l1))
print(b)                          # sort elements in ascending order


b=(sorted(l1,reverse=True))
print(b)                          # sort elements in descending order

b=sorted(l3)                      # Sorts alphabetically (capital letters come before lowercase due to ASCII)

print(b)

b=sorted(l3,key=str.lower)        # Sorts alphabetically, ignoring case
print(b)


c=sorted(l3,reverse=True,key=str.lower)   # Sorts alphabetically in reverse order, ignoring case
print(c)

[23, 34, 34, 323]
['pineapples', 'Orange', 'Mango', 'mango', 'grapes', 'banana', 'apple']

In [44]:
# any
print(any([True,False,1]))           # Print True if atleast one element will be True
print(any([]))                       # bcz empty list -> False

# all
print(all([" ",0]))                  # print True if all the elements will be True
print(all(["",-9,"kl"]))
print(all(["-",-9,"kl"]))

True
False
False
False
True

In [ ]:
# sort()
l3=["Mango","pineapples","apple","banana","grapes","Orange","mango"]
print(l3)
l3.sort(reverse=True)          # after sorting update l3
print(l3)

['Mango', 'pineapples', 'apple', 'banana', 'grapes', 'Orange', 'mango']
['pineapples', 'mango', 'grapes', 'banana', 'apple', 'Orange', 'Mango']