<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary built-in functions

In [1]:
# Creating a dictionary using the dict() function

# Keys: "first" and "last" ; Values: "Muhammad" and "Hamza"
a = dict(first="Muhammad", last="Hamza")

# Printing the dictionary
# Output: {'first': 'Muhammad', 'last': 'Hamza'}
print(a)

# Printing the type of the variable 'a'
# Output: <class 'dict'> because 'a' is a dictionary
print(type(a))

{'first': 'Muhammad', 'last': 'Hamza'}
<class 'dict'>

access the values

keys()

values()

items()

type()

In [3]:
# Creating a dictionary with two key-value pairs
new = {"Ali": 45, "Ahmad": 48}

# Accessing the value of a key directly using dictionary indexing
# Output: 45 (because the value of "Ali" is 45)
print(new["Ali"])

# Getting all the values from the dictionary
# dict.values() returns a special view object
value = new.values()
print(value)   # Output: dict_values([45, 48])

# Printing the type of 'value'
# Output: <class 'dict_values'> (a view object, not a list)
print(type(value))

# Converting dict_values to a list
# Output: [45, 48]
print(list(value))

# Another way to directly get values as a list
# Output: [45, 48]
print(list(new.values()))

# Getting all keys of the dictionary as a list
# Output: ['Ali', 'Ahmad']
print(list(new.keys()))

# Getting all key-value pairs of the dictionary as a list of tuples
# Output: [('Ali', 45), ('Ahmad', 48)]
new_list = list(new.items())
print(new_list)

# Checking the type of 'new_list'
# Output: <class 'list'> because items() was converted to a list
print(type(new_list))

# Checking the type of the first element inside new_list
# Output: <class 'tuple'> because each key-value pair is stored as a tuple
print(type(new_list[0]))

45
dict_values([45, 48])
<class 'dict_values'>
[45, 48]
[45, 48]
['Ali', 'Ahmad']
[('Ali', 45), ('Ahmad', 48)]
<class 'list'>
<class 'tuple'>

In [4]:
# Creating a dictionary using the dict() constructor with a list of tuples
# Each tuple contains a key and its corresponding value
# [('Ali', 45), ('Ahmad', 48)] → "Ali":45 , "Ahmad":48
data = dict([('Ali', 45), ('Ahmad', 48)])

# Printing the dictionary
# Output: {'Ali': 45, 'Ahmad': 48}
print(data)

{'Ali': 45, 'Ahmad': 48}

copy()

clear()

In [6]:
# Creating a dictionary with two key-value pairs
new = {'Ali': 45, 'Ahmad': 48}

# Creating a shallow copy of the dictionary
# 'a' now holds a separate copy of 'new'
a = new.copy()

# Adding a new key-value pair to the original dictionary 'new'
new['Bilal'] = 48

# Printing 'new'
# Output: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
print(new)

# Printing 'a' (the copy made earlier)
# Output: {'Ali': 45, 'Ahmad': 48}
# Notice that 'Bilal' is not included because 'a' was copied before modification
print(a)

# Clearing all items from dictionary 'a'
a.clear()

# Printing 'a'
# Output: {}
# 'a' becomes an empty dictionary, but 'new' is unaffected
print(a)

{'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
{'Ali': 45, 'Ahmad': 48}
{}

In [8]:
# Creating a dictionary
new = {'Ali': 45, 'Ahmad': 48}

# Assigning 'new' to 'b' (both variables point to the SAME dictionary in memory)
b = new

# Adding a new key-value pair to 'new'
new['Bilal'] = 48

# Printing 'new'
# Output: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
print(new)

# Printing 'b'
# Output: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
# Notice 'b' also shows the new entry, because 'b' and 'new' refer to the SAME dictionary object
print(b)

{'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
{'Ali': 45, 'Ahmad': 48, 'Bilal': 48}

fromkeys()

In [10]:
# Creating a list
a = [1, 2, 3, 4]

# Using dict.fromkeys(iterable, value)
# Here, keys are taken from list 'a', and all values are set to 0
new = dict.fromkeys(a, 0)
print(new)
# Output: {1: 0, 2: 0, 3: 0, 4: 0}

# Using dict.fromkeys(iterable) without specifying a value
# Default value is None for all keys
new = dict.fromkeys(a)
print(new)
# Output: {1: None, 2: None, 3: None, 4: None}

{1: 0, 2: 0, 3: 0, 4: 0}
{1: None, 2: None, 3: None, 4: None}

setdefault()

In [12]:
# Creating a dictionary
new = {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}

# setdefault('Ali', 42)
# If 'Ali' already exists, it returns the existing value (45)
# and does NOT update it with 42
print(new.setdefault('Ali', 42))   # Output: 45
print(new)                         # Dictionary remains unchanged: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}


# setdefault('Abdullah', 42)
# Since 'Abdullah' does NOT exist, it creates a new key with value 42
# and returns 42
print(new.setdefault('Abdullah', 42))  # Output: 42
print(new)   # Now dictionary becomes: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'Abdullah': 42}

45
{'Ali': 45, 'Ahmad': 48, 'Bilal': 48}
42
{'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'Abdullah': 42}

update()

In [13]:
# Original dictionary
new = {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}

# Using update() with a new key 'bilal'
# Important: 'Bilal' ≠ 'bilal' (Python dictionary keys are case-sensitive)
# So instead of updating the old key, it creates a new one
new.update({'bilal': 43})

print(new)
# Output: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'bilal': 43}

{'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'bilal': 43}

In [15]:
new = {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}

# Updating the dictionary with TWO new key-value pairs at the same time
# 'bilal': 43 → This is a new key (different from 'Bilal' because keys are case-sensitive)
# 'Aslam': 38 → Also a new key
new.update({'bilal': 43, "Aslam": 38})

print(new)
# Output: {'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'bilal': 43, 'Aslam': 38}

{'Ali': 45, 'Ahmad': 48, 'Bilal': 48, 'bilal': 43, 'Aslam': 38}

iteration:

Iterating directly over the dictionary gives you the KEYS by default

In [20]:
new = {'Ali': 45, 'Ahmad': 48, 'Bilal': 48}

for i in new:
    # i is the key, new[i] is the value
    print(i, new[i])
# Output:
# Ali 45
# Ahmad 48
# Bilal 48

Ali 45
Ahmad 48
Bilal 48

Getting just the KEYS using new.keys()

In [27]:
print(new.keys())   # dict_keys(['Ali', 'Ahmad', 'Bilal'])

dict_keys(['Ali', 'Ahmad', 'Bilal'])

Looping through KEYS explicitly

In [22]:
for i in new.keys():
    print(i)
# Output:
# Ali
# Ahmad
# Bilal

Ali
Ahmad
Bilal

Looping through VALUES only

In [25]:
for i in new.values():
    print(i)
# Output:
# 45
# 48
# 48

45
48
48

Looping through KEY-VALUE pairs using items()

In [24]:

for i, j in new.items():
    print(i, j)

# Output:
# Ali 45
# Ahmad 48
# Bilal 48

Ali 45
Ahmad 48
Bilal 48

len()

sorted()

In [29]:
students = {
    1: {'Programing': 50, 'Math': 70},
    2: {'Programing': 70, 'Math': 80}
}

# Accessing Math marks of student 2
print(students[2]['Math'])
# Output: 80


# Getting the number of students (top-level keys in dictionary)
print(len(students))
# Output: 2   (because keys are 1 and 2 → two students)


# Sorting the keys of the inner dictionary students[2]
print(sorted(students[2]))
# Output: ['Math', 'Programing']
# Note: sorted() sorts KEYS of the dictionary alphabetically

80
2
['Math', 'Programing']

is operator

In [30]:
students = {
    1: {'Programing': 50, 'Math': 70},
    2: {'Programing': 70, 'Math': 80}
}

student = {
    1: {'Programing': 50, 'Math': 70},
    2: {'Programing': 70, 'Math': 80}
}

# Comparing values of both dictionaries
# print(students == student)  # Would return True (same keys & values)

# Checking if both variables point to the SAME object in memory
print(student is students)   # Output: False

False