<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

string data type

In [ ]:
name="Hamza"
# print(name)
print(name, "has the data type", type(name))

Hamza has the data type <class 'str'>

for multiple data

In [ ]:
students="rida", "easha", 'aslam', 23    # automatically create tuple
marks=23,45,23                           # automatically create tuple
print(students)
print(type(students))

new=[23,"ali"]  # list

('rida', 'easha', 'aslam', 23)
<class 'tuple'>

In [ ]:
# for multiple data we can use:
# list
# tuple
# dict
# set

boolean data type

In [ ]:
print(type(True))     # => 1
print(type(False))  # => 0

<class 'bool'>
<class 'bool'>

int + int

In [ ]:
num1=90
num2=80
print(num1+num2)
# return the sum

170

string + int

In [ ]:
# num=90
# st="book"
# print(num+st)
# it return error bcz we cannot add int and string

type casting explicit

In [ ]:
# declare variables
a="12"
b=34

# print(a+b)   it return error bcz we cannot add int and string

# type casting
new=int(a)

# use + operator
print(type(new))

print(new+b)

<class 'int'>
46

other method

In [ ]:
# declare variables
a="12"
b=34

# print(a+b)   it return error bcz we cannot add int and string

# type casting

# use + operator
res=int(a)+b
print(res)
print(type(res))

46
<class 'int'>

string + string

In [ ]:
first_name="Muhammad"
last_name="Hamza"
print(first_name+last_name)

# it has combined the both strings

MuhammadHamza

string + string

In [ ]:
num1="34"
num2="0"
print(num1+num2)

# it has combined the both strings

340

implicit type casting

In [ ]:
com=7+8j
num=90
print(com+num)
print(type(com+num))

# here python automatically add int, complex and return a complex. You not need to change the data type

(97+8j)
<class 'complex'>

implicit type casting

In [ ]:
integer=90
fl=8.78
print(integer+fl)
print(type(integer+fl))

# here python automatically add int, float and return a float. You not need to change the data type

98.78
<class 'float'>

In [ ]:
# boolean consist of 2 keywords:
# True  => 1
# False  =>0

In [ ]:
res=False
int_res=int(res)
print(int_res)
print(type(int_res))

0
<class 'int'>

int + string

In [ ]:
# res="True"
# int_res=int(res)
# print(int_res)
# print(type(int_res))

# It show error bcz we cannot add int and string

boolean + boolean

In [ ]:
res=(True+False)
print(res)
print(type(res))
print(bool(res))
# print(True + True)

1
<class 'int'>
True
2

In [ ]:
print(True+10)

11

use of id

In [ ]:
name=3847389
print(id(name))
# id() returns the unique identifier of the object (in CPython, it's the memory address)

132260824349360

convert boolean to string

In [ ]:
res=True
new=(str(res))
# print(type(new))
print("The result is", new)

The result is True