<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
# Program looks like without using loop
print("Hamza")
print("Hamza")
print("Hamza")
print("Hamza")

Hamza
Hamza
Hamza
Hamza

#while loop

Print your name 10 times by using while loop

In [92]:
i=0
while i<10:
  print("Hamza")
  i+=1

Hamza
Hamza
Hamza
Hamza
Hamza
Hamza
Hamza
Hamza
Hamza
Hamza

Print numbers from 1 to 10 by using while loop

In [45]:
num=1
while num<=10:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10

use of formatted string in loop

In [50]:
num=1
# while num<=7:
while num<8:
  # printing variables by using formatted string
  print(f"{num} times Hamza")
  num+=1

1 times Hamza
2 times Hamza
3 times Hamza
4 times Hamza
5 times Hamza
6 times Hamza
7 times Hamza

 use of end=" " in loop

In [95]:
num=1
# while num<=7:
while num<8:
  # print name 7 times without terminating the line
  print("Hamza",end=" ")
  num+=1
# we have to use end="" bcz it is the by default behaviour of python that on running a loop it print the statement on a new line

Hamza Hamza Hamza Hamza Hamza Hamza Hamza

printing the table of a number by using while loop

In [59]:
number=int(input("enter a number to display the table "))

i=1
while i<=10:
  print(f"{number} x {i} = {number*i}")
  i+=1

enter a number to display the table 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Print odd numbers in reverse from 100 to 1 by using while loop

In [65]:
num=100
num=num-1
# we have to update the variable with 99 bcz our series will start from 99
while num>=1:
  print(num, end=", ")
  num-=2

99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1,

concept of for loop

In [68]:
start=8
stop=20
jump=1
for value in range(start,stop,jump):
  print(value)

8
9
10
11
12
13
14
15
16
17
18
19

In [102]:
for i in range(9,2):
  print(i)

# it will not return any output bcz starting point should always be greater then ending point.

In [74]:
for i in range(4):
  print(i)

# start=0
# stop= 4
# jump=1

  # here by default starting point is 0 and it apply the increment of 1

0
1
2
3

Print Even Numbers from 2 to 10 use for loop

In [96]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

Calculate the sum of numbers from 1 to n by using for loop

In [101]:
n=int(input("Enter a number "))
sum=0
for i in range(1,n+1):
  # update the variable sum in loop
  sum+=i
print(f"sum of numbers from 1 to {n} is: {sum}")

Enter a number 9
sum of numbers from 1 to 9 is: 45