<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String

length of string / number of characters

In [ ]:
name="Hamza"
# name='Ali'

print(len(name))  # built in function to check the length of the string

5

concatenation

In [ ]:
first="Muhammad"
last="Ali"
print(first+" "+last)  # use + for concatenation

Muhammad Ali

Membership operator in string

In [ ]:
print("a" in "Hamza") # use in to check the membership
print("k" not in "Hamza")
print("am" in "Hamza")

True
True
True

In [ ]:
print("A" in "Hamza") # it return False bcz python is case sensitive language.

False

Repetition

In [ ]:
a="Hamza"
b=a*5
print(a)
print(b)

Hamza
HamzaHamzaHamzaHamzaHamza

indexing in the string

In [ ]:
country="Pakistan"

print(country[0])
print(country[1])

print(country[-1]) # return the last character

P
a
n

Take name from the user as input and return the first and last character of the name

In [ ]:
name=input("Enter your name ")
print(name[0])
print(name[-1])

Enter your name Zohaib
Z
b

iteration by using while loop

In [ ]:
name="Ahmad"
start=0      # start from the 0 index
while start<=len(name)-1:
  print(name[start])
  start+=1

A
h
m
a
d

use of end=""

In [ ]:
name="Ahmad"
start=0

while start<=len(name)-1:   # using the <= operator
  print(name[start],end="")
  start+=1

Ahmad

In [ ]:
name="Pakistan"
start=0
while start<len(name):    # use of < operator
  print(name[start],end="")
  start+=1

Pakistan

In [ ]:
name="Muhammad"
start=0
# while start<=len(name)-1:
while start<len(name):
  print(name[start],end="")
  start+=1

Muhammad

In [ ]:
print(len(" $TD8"))  # each value is consider as character in string

5

In [ ]:
# iteration by using for loop
name="Zohaib"
for i in range(len(name)):
  print(name[i])

Z
o
h
a
i
b

In [ ]:
# iteration by using while loop


name=input("enter ")
start=len(name)*-1        #start from the first character but use its negative index like -3 in "Ali"

while start <=-1:
  print(name[start])
  start+=1

enter Ali
A
l
i

In [ ]:
# iteration by using for loop without range function
country="Pakistan"

for i in country:
  print(i)

P
a
k
i
s
t
a
n

enumerate

In [ ]:
country="Pakistan"

for index,value in enumerate(country):
  print(f"on index {index} the character is {value}")

on index 0 the character is P
on index 1 the character is a
on index 2 the character is k
on index 3 the character is i
on index 4 the character is s
on index 5 the character is t
on index 6 the character is a
on index 7 the character is n

Take name from the user as input and display the characters from start to mid like Mah in Maham

In [ ]:
name=input("enter ")
start=0
end=len(name)-1

mid=(start+end)//2   #find mid

for i in range(len(name)):
  if name[i]==name[mid]:    # if loop reach the mid character then stop the loop
    print(name[i])
    break
  print(name[i],end="")

enter ALi
AL