<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

enumerate in set

In [2]:
# Define two sets
s1, s2 = {1, 2, 3, 4}, {3, 4, 5, 6, 7, 8}

# Print set s1
print(s1)   # Output: {1, 2, 3, 4} (order may vary because sets are unordered)

# Example of using enumerate with a set

for i, j in enumerate(s1):
    print(i, j)       # i = index, j = element from s1
    print(s1)         # prints entire set each time
    print(type(s1))   # shows type 'set'

{1, 2, 3, 4}
0 1
{1, 2, 3, 4}
<class 'set'>
1 2
{1, 2, 3, 4}
<class 'set'>
2 3
{1, 2, 3, 4}
<class 'set'>
3 4
{1, 2, 3, 4}
<class 'set'>

operations

In [6]:
# Define 2 sets
s1, s2 = {1, 2, 3, 4, 5, 6}, {3, 4, 5, 6, 7, 8}

# UNION: Elements that are in either s1 or s2
print("union", s1 | s2)
print(s1.union(s2))

# INTERSECTION: Elements common in both s1 and s2
print("intersection", s1 & s2)
print(s1.intersection(s2))

# DIFFERENCE: Elements in s1 but not in s2
print(s1 - s2)
print(s1.difference(s2))

# SYMMETRIC DIFFERENCE: Elements in s1 or s2 but not in both
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

union {1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
intersection {3, 4, 5, 6}
{3, 4, 5, 6}
{1, 2}
{1, 2}
{1, 2, 7, 8}
{1, 2, 7, 8}

copy()

In [ ]:
# Create a set s2
s2 = {1, 2, 3, 4}

# Make a copy of s2 and store in 'new'
new = s2.copy()

# At this point:
# s2 = {1, 2, 3, 4}
# new = {1, 2, 3, 4}

# Add an element (10) to s2
s2.add(10)

# Now s2 = {1, 2, 3, 4, 10}

# Print updated s2
print(s2)   # Output: {1, 2, 3, 4, 10}

# Print 'new' (copy remains unchanged)
print(new)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4, 10}
{1, 2, 3, 4}

In [ ]:
# Create a set s2
s2 = {1, 2, 3, 4}

# Assign 'new' to reference the SAME set object as s2
new = s2

# Add element 10 to s2
s2.add(10)

# Now both 's2' and 'new' point to the same set in memory
# So any change in one will reflect in the other

print(s2)   # Output: {1, 2, 3, 4, 10}
print(new)  # Output: {1, 2, 3, 4, 10}

{1, 2, 3, 4, 10}
{1, 2, 3, 4, 10}

subset

In [ ]:
# Define two sets
s1 = {1, 2, 3, 4, 9, 5}
s2 = {1, 2, 3, 4, 5}

# Check if s1 is a subset of s2
# The operator <= means: "Are all elements of s1 also in s2?"
print(s1 <= s2)   # False, because 9 is in s1 but not in s2

False

In [ ]:
s1 = set()              # Create an empty set
s2 = {1, 2, 3, 4, 5}    # Create a set with elements 1–5

# Check if s1 is a subset of s2
# Rule: An empty set is always a subset of any set
print(s1 <= s2)   # Output: True

True

Proper Subset

In [11]:
# Define two sets
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}

# The operator < checks if s1 is a PROPER subset of s2
# Meaning:
#   1) All elements of s1 must be in s2
#   2) And s1 must NOT be equal to s2 (must be strictly smaller)

print(s1 < s2)   # False

False

In [12]:
# Create an empty set
s1 = set()

# Create a non-empty set
s2 = {1, 2, 3, 4, 5}

# The operator < checks if s1 is a PROPER subset of s2
# Rule for proper subset:
#   1) All elements of s1 must be in s2
#   2) s1 must NOT be equal to s2 (must be strictly smaller)

print(s1 < s2)   # Output: True

True

Issuperset()

In [13]:
# Define two sets
s1 = {1, 2, 3}
s2 = {1, 2, 3, 4, 5}

# The operator >= checks if s1 is a SUPERSUBSET of s2
# Meaning:
#   1) All elements of s2 must be in s1
#   2) s1 can be equal to s2 or larger

print(s1 >= s2)   # Output: False

False

In [14]:
# Define two sets
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {1, 2, 3, 4, 5}

# The operator >= checks if s1 is a SUPERSET of s2
# Rule: All elements of s2 must be present in s1

print(s1 >= s2)   # Output: True

True

Proper Superset

In [15]:
# Define two sets
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {1, 2, 3, 4, 5}

# The operator > checks if s1 is a PROPER SUPERSET of s2
# Rule:
#   1) All elements of s2 must be in s1
#   2) s1 must have at least one extra element not in s2

print(s1 > s2)   # Output: True

True

PROPER SUPERSET

In [16]:
# Define two equal sets
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}

# The operator > checks if s1 is a PROPER SUPERSET of s2
# Rule:
#   1) All elements of s2 must be in s1
#   2) s1 must have at least one EXTRA element not in s2

print(s1 > s2)   # Output: False

False

PROPER SUPERSET

In [17]:
# Define two sets
s1 = {1, 2, 3}
s2 = {1, 2, 3, 4, 5}

# The operator > checks if s1 is a PROPER SUPERSET of s2
# Rule:
#   1) All elements of s2 must be inside s1
#   2) s1 must have at least one extra element

print(s1 > s2)   # Output: False

False

disjoint set

In [18]:
# Define two sets
s1 = {7, 6}
s2 = {1, 2, 3, 4, 5}

# isdisjoint() returns True if the two sets have NO common elements
print(s1.isdisjoint(s2))   # Output: True

True

frozen set

In [21]:
# Define a set
s2 = {1, 2, 3, 4, 5}

# Convert set into a frozenset (an immutable set)
new = frozenset(s2)

# Try to add an element to frozenset
# new.add(9)   # This will cause an AttributeError

print(new)

frozenset({1, 2, 3, 4, 5})

access the element by index

In [23]:
s2 = {1, 2, 3, 4, 5}


# s2[3] = 'A'


# This will give an error:
# TypeError: 'set' object does not support item assignment
# Reason: Sets are unordered and unindexed,
# so we cannot access or modify elements by index.

Write a Python program to check whether a given sentence is a pangram or not.

A pangram is a sentence that contains all 26 letters of the English alphabet at least once.

For example:

✅ "The quick brown fox jumps over the lazy dog" is a pangram.

❌ "Hello world" is not a pangram.

In [27]:
# Take input from user and convert it to lowercase
s = input('Enter a string ').lower()

# Convert the input string into a set of unique characters
input_data = set(s)
# print(input_data)   # Debug: shows all unique characters entered

# Define a string containing all lowercase alphabets
pangram = "abcdefghijklmnopqrstuvwxyz"

# Convert the alphabet string into a set
pangram_set = set(pangram)

# Check if input_data contains ALL the alphabets (pangram_set)
# Using >= means: input_data is a superset of pangram_set
if (input_data >= pangram_set):
    print("The given string is Pangram")   # Contains all alphabets
else:
    print("The string is not Pangram")     # Missing some alphabets

Enter a string book
The string is not Pangram