<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Assign the value 3 to variable 'a'
a = 3

# Assign the value 8 to variable 'b'
b = 8

# Calculate the sum of 'a' and 'b', and store it in variable 'sum'
sum = a + b

# Print the result of the first sum
print(sum)

# Assign the value 13 to variable 'c'
c = 13

# Assign the value 28 to variable 'd'
d = 28

# Calculate the sum of 'c' and 'd', and store it in variable 'sum1'
sum1 = c + d

# Print the result of the second sum
print(sum1)

11
41

#Functions

In [3]:
# Define a function named 'sum' that takes two parameters: a and b
def sum(a, b):
    # The function returns the sum of a and b
    return a + b

# Call the function with arguments 3 and 4, then print the result (3 + 4 = 7)
print(sum(3, 4))

# Call the function with arguments 2 and 10, then print the result (2 + 10 = 12)
print(sum(2, 10))

# Call the function with arguments 4 and -9, then print the result (4 + (-9) = -5)
print(sum(4, -9))

7
12
-5

user define functions

In [4]:
# Define a function named 'greet' that takes no parameters
def greet():
    # This statement prints the word 'hello' to the screen
    print('hello')

# Call (execute) the 'greet' function for the first time
greet()

# Call the 'greet' function for the second time
greet()

# Call the 'greet' function for the third time
greet()

hello
hello
hello

built-in functions

In [6]:
# a = [1, 2, 3, 2, 3, 2]
# print(len(a))
# The above two lines (commented out) show how Python's built-in len() function works.

# Define a custom function 'length' that calculates the number of elements in a list manually
def length(a):
    total = 0                 # Initialize a counter variable 'total' to 0
    for i in a:               # Loop through each element in the list 'a'
        total += 1            # For every element, increase 'total' by 1
    return total              # After counting all elements, return the total count

# Call the function 'length' with a sample list and get the result
length([1, 2, 3, 2, 3, 2])

6

Positional arguments

In [7]:
# Define a function named 'subtract' that takes two parameters: a and b
def subtract(a, b):
    # This line is commented out — it would print the value of 'a' if uncommented
    # print(a)

    # The function returns the result of subtracting b from a
    return a - b

# Call the function 'subtract' with arguments 10 and 4
# Then print the result returned by the function
print(subtract(10, 4))

6

keyword argrments

In [8]:
# Define a function named 'subtract' that takes two parameters: a and b
def subtract(a, b):
    # Print the value of 'a' (just to show what was passed as the first argument)
    print(a)

    # Return the result of subtracting b from a
    return a - b

# Call the function using keyword arguments
# Here 'b=10' and 'a=4' — order doesn’t matter when using keywords
print(subtract(b=10, a=4))

4
-6

default argument

In [10]:
# Define a function named 'greet' with one parameter 'name'
# The parameter 'name' has a *default value* of "Abdullah"
def greet(name="Abdullah"):
    # Print a greeting message using f-string formatting
    print(f"hi, {name}")

# Call the function with an argument 'Ali'
# This overrides the default value "Abdullah"
greet('Ali')

# Call the function without providing any argument
# This uses the default value "Abdullah"
greet()

hi, Ali
hi, Abdullah

multiple length arguments

In [15]:
# Define a function named 'new' that can take any number of arguments
# The asterisk (*) before 'abc' allows it to accept a variable number of arguments as a tuple
def new(*abc):
    # Print the entire tuple of arguments
    print(abc)

    # Print all the arguments separately (unpacked form)
    print(*abc)

    # Print the sum of the first two elements in the tuple (index 0 and index 1)
    print(abc[0] + abc[1])

    # Print the tuple repeated 3 times
    print(abc * 3)

    # Print the data type of 'abc' (it will be a tuple)
    print(type(abc))

# Call the function with multiple arguments
new(2, 3, 4, 2, 43)

(2, 3, 4, 2, 43)
2 3 4 2 43
5
(2, 3, 4, 2, 43, 2, 3, 4, 2, 43, 2, 3, 4, 2, 43)
<class 'tuple'>

In [18]:
# Assign multiple values to variable 'a' separated by commas
a = 9, 4, 'a'

# Print the value of 'a'
print(a)

# Print the data type of 'a'
print(type(a))

(9, 4, 'a')
<class 'tuple'>

In [19]:
# Create a tuple containing a single element 'a'
a = ('a',)

# Print the data type of 'a'
print(type(a))

<class 'tuple'>

lambda funtions

In [20]:
# Define a lambda (anonymous) function that takes one argument 'x'
# and returns the square of that number (x**2)
square = lambda x: x ** 2

# Call the lambda function with argument 5 and print the result
print(square(5))

25

In [21]:
# Define a function named 'sq' that takes one parameter 'x'
def sq(x):
    # Return the square of the given number (x raised to the power of 2)
    return x ** 2

# Call the function with argument 4
sq(4)

16

In [22]:
# Define a lambda (anonymous) function that takes two parameters 'a' and 'b'
# and returns their sum
sum = lambda a, b: a + b

# Call the lambda function with arguments 7 and 8, and print the result
print(sum(7, 8))

15

In [25]:
# Define a lambda function named 'new' that takes any number of arguments (*a)
# and returns the sum of all of them using Python's built-in sum() function
new = lambda *a: len(a)

# Call the lambda function with two numbers (6 and 7) and print the result
print(new(6, 7))

2