<a href="https://colab.research.google.com/github/hamza0972/Python-course-Volunteer/blob/main/session21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bitwise Operators

NOT

In [1]:
print(~9)       # The bitwise NOT (~) inverts all the bits of the number.
                # 9 in binary (32-bit) = 00000000 00000000 00000000 00001001
                # Applying ~ (flip all bits):
                # Result = 11111111 11111111 11111111 11110110  (two’s complement)
                # Which is equivalent to -10 in decimal.
                # So output will be: -10

print(~-20)     # -20 in binary (32-bit, two’s complement) =
                # 11111111 11111111 11111111 11101100
                # Applying ~ (flip all bits):
                # Result = 00000000 00000000 00000000 00010011
                # Which is equivalent to +19 in decimal.
                # So if you uncomment, it will print: 19

-10
19

Left Shift

In [2]:
print(-6 << 2)      # Bitwise left shift (<<) shifts bits to the left.
                    # -6 in decimal is represented in binary using two’s complement.
                    # Left shift by 2 means multiplying by 2^2 = 4.
                    # So, -6 << 2 = -24 (because -6 * 4 = -24).

print(bin(-6))      # Prints the binary representation of -6.
                    # In Python, negative numbers are shown with a '-' sign
                    # followed by the binary of the absolute value.
                    # So output = '-0b110'

-24
-0b110

#Tuple

count()

In [3]:
a = (1, 2, 3, 2, 3, 2)   # A tuple containing integers
print(a.count(2))        # count(x) → returns the number of times 'x' appears in the tuple
                         # Here, '2' occurs 3 times
                         # Output: 3

3

.index()

sum()

sorted()

any()

all()

In [4]:
a = (1, 2, 3, 2, 3, 0)    # A tuple containing integers

print(a.index(2, 2, 5))     # index(x, start, end) → returns the index of the first
                            # occurrence of 'x' between positions start and end-1.
                            # It will search for '2' between indices 2 and 4.
                            # At index 3, we find '2', so output would be 3.

print(sum(a))               # sum() → adds all elements of the tuple.
                            # 1+2+3+2+3+0 = 11

print(sorted(a))            # sorted() → returns a sorted list from the tuple.
                            # Output: [0, 1, 2, 2, 3, 3]

print(any(a))               # any() → returns True if at least one element is non-zero.
                            # Since we have 1, 2, 3, etc. → Output: True

print(all(a))               # all() → returns True if *all* elements are non-zero.
                            # But here we have 0 in the tuple → Output: False

3
11
[0, 1, 2, 2, 3, 3]
True
False

enumerate()

In [6]:
a = [1, 2, 3, 2, 45, 3]       # A list

enu = enumerate(a)            # enumerate() returns an enumerate object
                              # It generates pairs of (index, value)

print(enu)                    # Just printing the object shows its type & memory location
                              # e.g. <enumerate object at 0x0000021F...>

print(type(enu))              # Output: <class 'enumerate'>

print(list(enu))              # Converts the enumerate object into a list of tuples
                              # [(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 3)]

print(set(enu))               # At this point, 'enu' is already exhausted by list(enu)
                              # So set(enu) will be empty: set()

<enumerate object at 0x78dc76529800>
<class 'enumerate'>
[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 3)]
set()

iteration on tuple

In [8]:
a = (1, 2, 3, 2, 3, 2)    # A tuple with 6 elements

print(len(a))             # len() → returns the number of elements in the tuple
                          # Output: 6


# 1️⃣ Simple iteration → directly iterates over values

# for i in a:
    #print(i)              # Prints each element one by one
                          # 1, 2, 3, 2, 3, 2


# 2️⃣ Using enumerate() → gives both index and value

# for index, value in enumerate(a):
    # print(index, value)   # Prints index-value pairs
                          # (0,1), (1,2), (2,3), (3,2), (4,3), (5,2)


# 3️⃣ Using range() with indexing → access values by index

# for i in range(len(a)):
#     print(a[i])           # Prints each element by accessing tuple indices
                          # 1, 2, 3, 2, 3, 2

6

nested tuple

In [9]:
new = ((2, 12, 34), (10,), (90, 23))   # A tuple containing other tuples (nested tuple)

for i in new:          # Outer loop → iterates over each inner tuple
    # print(i)         # If uncommented, prints the whole inner tuple
                       # Example: (2, 12, 34), (10,), (90, 23)

    for j in i:        # Inner loop → iterates over elements inside each tuple
        print(j)       # Prints each individual element

2
12
34
10
90
23

In [10]:
# print(10,)            # A single value with a trailing comma makes it a tuple → (10,)


a = 90,                 # Even without parentheses, the comma creates a tuple
print(a)                # Output: (90,)

print(type(a))          # Output: <class 'tuple'>

(90,)
<class 'tuple'>

tuple packing and unpacking

In [19]:
new = (123, 45, 34, 2)
a, b, c, d = new          # Normal tuple unpacking
print(b)                  # Output: 45


new = (123, 45, 34, 2)

a, b, *c = new            # Extended unpacking
                          # a = 123
                          # b = 45
                          # c = [34, 2]   (collected into a list)

print(a)                  # Output: 123

# print(*b)               # ❌ ERROR: b = 45 (int is not iterable, cannot unpack)


print(b)                  # Output: 45

print(c)                  # Output: [34, 2]

print(type(c))            # Output: <class 'list'>


print(*c)                 # The * unpacks the list → prints: 34 2


# print(type(*c))         # ❌ ERROR in real Python!
                          # Because *c unpacks into two values: 34, 2
                          # type() can only accept ONE argument.
                          # So this raises: TypeError: type() takes 1 or 3 arguments

45
123
45
[34, 2]
<class 'list'>
34 2

#Dictionary

empty dictionary

In [21]:
data = {}
print(data)              # Empty dictionary: {}
print(type(data))        # <class 'dict'>

print({1: "Hamza", 2: "Ali", 3: "Zohaib"})
# Creates and prints a dictionary with keys 1, 2, 3
# Output: {1: 'Hamza', 2: 'Ali', 3: 'Zohaib'}

{}
<class 'dict'>
{1: 'Hamza', 2: 'Ali', 3: 'Zohaib'}

accessing the elements

In [ ]:
a = {"Hamza": 20,          # Dictionary with 3 key-value pairs
     "Ali": 30,
     "Ahsan": 20}

print(a['Ali'])            # Access value using key "Ali"
                           # Output: 30

a["Ali"] = 100             # Update the value of key "Ali" to 100

print(a)                   # Prints updated dictionary:
                           # {'Hamza': 20, 'Ali': 100, 'Ahsan': 20}

{'Hamza': 20, 'Ali': 100, 'Ahsan': 20}

nested dictionary

In [23]:
data = {
    "name": {                   # "name" key maps to another dictionary (nested dict)
        "first": "Muhammad",    # inner dictionary key "first"
        "last": "Hamza"         # inner dictionary key "last"
    }
}

print(data)                     # Prints the whole nested dictionary

{'name': {'first': 'Muhammad', 'last': 'Hamza'}}

.get()

In [24]:
a = {"Hamza": 20,
     "Ali": 30,
     "Ahsan": 20}

# print(a["ali"])
# ❌ This will raise a KeyError because "ali" (lowercase)
# is not the same as "Ali" (dictionary keys are case-sensitive).


print(a.get("ali", "This value is not found in the dictionary."))
# ✅ .get(key, default) method:
# - If the key exists → returns its value
# - If the key does NOT exist → returns the provided default message
# Here "ali" is not found, so it prints:
# Output: This value is not found in the dictionary.

This value is not found in the dictionary.

.popitem()

del

.pop()

In [27]:
a = {"Hamza": 20,
     "Ali": 30,
     "Ahsan": 20}

a["Ahmad"] = 80
# Adds new key-value pair → "Ahmad": 80
print(a)
# {'Hamza': 20, 'Ali': 30, 'Ahsan': 20, 'Ahmad': 80}


last = a.popitem()
# Removes and returns the *last inserted* item → ("Ahmad", 80)
print(a)
# Dictionary after removal → {'Hamza': 20, 'Ali': 30, 'Ahsan': 20}

print(type(last))
# popitem() returns a tuple → <class 'tuple'>


del a["Ali"]
# Deletes the key "Ali" completely
print(a)
# {'Hamza': 20, 'Ahsan': 20}


# removed_item = a.pop("Ali")
# Would try to remove "Ali" and return its value,
# BUT here "Ali" is already deleted above, so if uncommented → KeyError

{'Hamza': 20, 'Ali': 30, 'Ahsan': 20, 'Ahmad': 80}
{'Hamza': 20, 'Ali': 30, 'Ahsan': 20}
<class 'tuple'>
{'Hamza': 20, 'Ahsan': 20}